* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #3E5879;
  color: #ffffff;
}
header {
    display: block;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding : 15px;
    border-radius : 20px;
    box-shadow : 0px 4px 6px rgba(0,0,0,3);
}
header h1{
    margin-left: 30px;
}
.box{
    display : inline-block;
    background: #AB886D;
    margin : 30px;
    padding: 20px;
    border-radius : 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 3);
}
.box p{
    font-size: 1rem;
    font-weight: 400px;
    color : black;
    text-transform : uppercase
}
footer{
    margin-top : 30px;
    text-align : center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 20px;
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;
    color : #ffffff;
    height: 250px;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.6);
}
footer h2{
    font-width: 2rem;
}
button{
    display : inline-block;
    background: #ff6f61;
    padding: 15px;
    border-radius : 30px;
}
footer button a{
    text-decoration : none;
}
footer button a:hover {
    background: #e0554f;;
    transform : scale(2.7)
    border : 2px solid;
    border-color : pink;
}